<!DOCTYPE html>
<html>

<head>
    <title>ML Prediction Page</title>
    <style>
        body {
            text-align: center;
        }

        button {
            color: aliceblue;
            background-color: blue;
        }
    </style>
</head>

<body>
    <h1>Email Spam Classifier</h1>
    <div>
        <form action="">
            <textarea name="content" id="" cols="60" rows="12"
                placeholder="Type or paste your email message here."></textarea>
            <div>
                <button>Submit</button>
            </div>
        </form>
    </div>
</body>

</html>